{% extends "base.html" %}
{% block header %}
    <a href="logout">Logout</a>
    <a href="/">Voltar</a>
{% endblock %}
{% block main %}
    <table>
        <tr>
            <th>Codigo</th>
            <th>Titulo</th>
            <th>Detalhes</th>
        </tr>
        {% for line in array %}
            <tr>
                <td>{{ line.cod }}</td>
                <td>{{ line.titulo }}</td>
                <td><a href="/descricao/{{ line.cod }}">+</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}